<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <div class="footer-image-text">
            <img class="footer-maqi-logo" src="/images/logo/MAQI_Logo.svg" alt="maqiLogo">
          </div>
          <ul>
            
            <li class="">
              <a href="/contact/"><p class="p-footer">Contact</p></a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>