<div class="footer">
  <div class="container">
    <div class="row">
      
        <div class="footer-inner d-flex justify-content-between">
           
          <div class="footer-image-text">
            <img class="footer-maqi-logo" src="/images/logo/MAQI_Logo.svg" alt="maqiLogo">
          

        </div>
        
      
          <a >
            <p class="p-footer">The first optical materials company based on metal-organic frameworks. 
            </p>

            <p>Cerro El Plomo 5931, 1213. Las Condes, Santiago, Chile.</p>
          
          </a>

        
        
        
          <a href="/contact/"><p class="p-footer">Contact</p></a>
        
          
            
            
          
        </div>
      
    </div>
  </div>
</div>