{% for slide in page.slides %}
<div class="container my-5 d-flex justify-content-center">
  <div class="row justify-content-center text-width-container">
    {% if slide.image %}
    <div class="col-12">
      <img alt="{{ slide.title }}"
        class="mb-3 intro-image{% if slide.image_absolute %} intro-image-absolute{% endif %}{% if slide.image_hide_on_mobile %} intro-image-hide-mobile{% endif %} {{slide.class}}"
        src="{{ slide.image | prepend: site.baseurl }}" />
    </div>
    {% endif %}

    <div class="col-12">
      <h1 class="title-carousel">
        {{slide.title}}
      </h1>
      <p class="p-primerCarousel-justificado">
        {{ slide.content }}
      </p>

      <div class="call-box-bottom">
        <a href="solutions" class="button-cal-box">Learn more</a>
      </div>
    </div>

  </div>
</div>
{% endfor %}