

.form-container {
  
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  background-color: $secondary;
  color: $texto-negro-gris;
  max-width: 400px;
  margin: 20px auto 20px auto;
  padding: 20px;
}

.form-introduction p, h2{
  color: $texto-negro-gris;
  font-family: Helvetica, Arial, sans-serif, -apple-system;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: $primary;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $primary-dark;
}