  .link {
    color: $texto-gris;
  }

  .content-justify-about {
    text-align: justify;
  }

  .team-name-title {
    color: $texto-negro-gris;
    font-family: $font-family-heading;
  }

  .team-excerpt {
    color: $texto-gris !important;
  }

  .team-summary {
    color: $texto-negro-gris !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .team-image {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 60px;
        // max-width: 100%;
        // height: auto;
      }
    }

    .team-meta {
      flex: 1;



      h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }

      p {
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .team-content {
      text-align: center;
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 3px;

    .team-image-marco {
      height: 190px;
      width: auto;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;

      img {
        width: 220px;
        // max-width: 100%;
        // height: auto;
      }
    }



    .team-image {
      height: auto;
      width: auto;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 190px;
        // max-width: 100%;
        // height: auto;
      }
    }
  }

  .container-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .team-social-media a img {
    vertical-align: middle;
    /* Alinea la imagen verticalmente con el texto */
    width: 24px;
    /* Ancho fijo para las imágenes */
    height: auto;
    /* La altura se ajusta automáticamente */
  }