.p-primerCarousel-justificado {
  text-align: justify;
  color: $texto-gris;
}
.title-carousel{
  font-family: Helvetica, Arial, sans-serif, -apple-system !important;
  text-align: justify;
  color: $texto-negro-gris;
}

.miro101-img {
  max-width: 100%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.4);
}