.footer {
  background: $white-footer;
  color: black;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer-col {
  font-size: 16px;
  width: 50%;
  padding: 0 15px;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: $texto-gris;
  line-height: 1.6;
}

.footer a {
  color: $texto-gris;
  text-decoration: none;
  display: block;
  /* Hace que cada enlace se muestre en su propia línea */
}

.footer a:hover {
  text-decoration: underline;
}

.footer a img {
  vertical-align: middle;
  /* Alinea la imagen verticalmente con el texto */
  margin-right: 8px;
  /* Espacio entre la imagen y el texto */
  width: 24px;
  /* Ancho fijo para las imágenes */
  height: auto;
  /* La altura se ajusta automáticamente */
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.container-email,
.container-social {
  flex: 1;
}

/* Responsive design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-email,
  .container-social {
    width: 100%;
    /* Ocupa todo el ancho disponible */
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    /* Centra el texto para una mejor apariencia en dispositivos móviles */
  }

  .container-social p,
  .container-email p {
    margin: 10px 0;
    /* Añade algo de espacio entre los párrafos para mayor claridad */
  }
}



/* Responsive */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
  }

  .footer .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }
}