---
title: Contact
layout: default
bodyClass: "page-contact"
---
<div class="contact">
    <div class="contenedor-contacto">
        <div class="contact-section address">
            <img src="/images/contact/home.svg" alt="Address Icon" class="icon">
            <div class="contact-info">
                <h3>Office Address</h3>
                <p class="address">Cerro El Plomo 5931, 1213. Las Condes, Santiago. Chile.</p>
            </div>
        </div>

        <hr>

        <div class="contact-section address">
            <img src="/images/contact/cell.svg" alt="Cell Icon" class="icon">
            <div class="contact-info">
                <h3>Phone</h3>
                <p>+ 56 9 8585 8860</p>
            </div>
        </div>

        <hr>

        <div class="contact-section address">
            <img src="/images/contact/Email.svg" alt="Email Icon" class="icon">
            <div class="contact-info">
                <h3>EMAIL</h3>
                <p class="address"><a href="mailto:info@maqi.cl">info@maqi.cl</a></p>
            </div>
        </div>

        <hr>

        <div class="contact-section address">
            <img src="/images/contact/share.svg" alt="Social Networks Icon" class="icon">
            <div class="contact-info">
                <h3>Social Networks</h3>
                <div class="social-links">
                    <a href="https://www.linkedin.com/company/maqi">
                        <img class="img-social" src="/images/social/LinkedIn_icon.svg" alt="LinkedIn">
                    </a>
                    <a href="https://twitter.com/maqi_cl">
                        <img class="img-social" src="/images/contact/twitter-x.svg" alt="Twitter">
                    </a>
                </div>
            </div>
        </div>

        <hr>
    </div>

</div>